
/* template-color */

.main-header .header-top p i{
  color: #a2895fba;
}

.preloader-close{
  background: #a2895fba;
}

.header-upper .social-links li a:hover{
  background: #a2895fba;
}

.pagination li a:hover,
.pagination li a.active{
  background: #a2895fba;
}

.scroll-top{
  background: #a2895fba;
}

.header-upper .info-box li i{
  color: #a2895fba;
}

.header-upper .info-box li a:hover{
  color: #a2895fba;
}

.main-header .menu-right-content .search-btn button:hover{
  color: #a2895fba;
}

.main-header .menu-right-content .cart-box a:hover{
  color: #a2895fba !important;
}

.main-header .menu-right-content .cart-box a span{
  background: #a2895fba;
}

.main-menu .navigation > li > ul > li > a:hover,
.main-menu .navigation > li > .megamenu li > a:hover{
  color: #a2895fba;
}

.main-menu .navigation > li > ul > li > a:before{
  color: #a2895fba;
}

.main-menu .navigation > li > ul > li > ul > li > a:hover{
  color: #a2895fba;
}

.main-menu .navigation > li > ul > li > ul > li > a:before{
  color: #a2895fba;
}

.search-popup .search-form fieldset input[type="submit"]{
  background: #a2895fba;
}

.search-popup .recent-searches li a:hover{
  border-color: #a2895fba;
  color: #a2895fba;
}

.search-popup .close-search:hover{
  color: red;
}

.search-popup .search-form fieldset input[type="search"]{
  border: 3px solid #a2895fba;
}

.theme-btn-one{
  background: #a2895fba;
}

.banner-carousel .content-box .btn-box .video-btn:hover{
  background: #a2895fba;
}

#content_block_1 .content-box .image-holder .icon-box{
  background: #a2895fba;
}

#content_block_2 .content-box .list li:before{
  background: #a2895fba;
}

#content_block_2 .content-box .inner-box li i{
  color: #a2895fba;
}

#content_block_3 .content-box .location-box{
  background: #a2895fba;
}

#content_block_3 .content-box .shediul-box i{
  color: #a2895fba;
}

#content_block_3 .content-box .shediul-box .time-list li h4{
  color: #a2895fba;
}

#content_block_4 .content-box .service-box ul li span{
  color: #a2895fba;
}

.service-block-one .inner-box .lower-content .price{
  color: #a2895fba;
}

.service-block-one .inner-box:hover .lower-content .price{
  background: #a2895fba;
}

.service-block-one .inner-box .lower-content h4 a:hover{
  color: #a2895fba;
}

.service-block-one .inner-box .image-box{
  background: #a2895fba;
}

.bg-color-2{
  background: #a2895fba;
}

#content_block_5 .content-box .btn-box .theme-btn-one:hover{
  color: #a2895fba !important;
}

.service-style-two .inner-box .single-item .icon-box{
  color: #a2895fba;
}

.team-block-one .inner-box .lower-content h5{
  color: #a2895fba;
}

.team-block-one .inner-box .lower-content h5 a{
  color: #a2895fba;
}

.team-block-one .inner-box .lower-content .social-links li a:hover{
  background: #a2895fba;
}

.testimonial-content .inner-box h4{
  color: #a2895fba;
}

.features-section .single-item .inner-box:hover h4{
  color: #a2895fba;
}

.gallery-block-one .inner-box .image-box:before{
  background: #a2895fba;
}

.news-block-one .inner-box .image-box{
  background: #a2895fba;
}

.news-block-one .inner-box .image-box .post-date{
  background: #a2895fba;
}

.news-block-one .inner-box .lower-content .post-info li i{
  color: #a2895fba;
}

.news-block-one .inner-box .lower-content .post-info li a:hover{
  color: #a2895fba;
}

.news-block-one .inner-box .lower-content h3 a:hover{
  color: #a2895fba;
}

.news-block-one .inner-box .lower-content .link-btn a:hover{
  color: #a2895fba;
}

.news-block-one .inner-box .lower-content .link-btn a:before{
  background: #a2895fba;
}

.appointment-section .content-box .lower-inner .counter-inner .single-counter .count-outer{
  color: #a2895fba;
}

#appointment_block .form-inner:before{
  background: #a2895fba;
}

.cta-section{
  background: #a2895fba;
}

.footer-top .logo-widget .subscribe-form .form-group input:focus{
  border-color: #a2895fba !important;
}

.footer-top .logo-widget .subscribe-form .form-group button{
  background: #a2895fba;
}

.footer-top .links-widget .links-list li a:hover{
  color: #a2895fba;
}

.footer-top .contact-widget .info-list li i{
  color: #a2895fba;
}

.footer-top .contact-widget .info-list li p a:hover{
  color: #a2895fba;
}

.footer-top .instagram-widget .image-list li .image-box{
  background: #a2895fba;
}

.footer-botton .copyright p a:hover{
  color: #a2895fba;
}

.footer-botton .footer-social li a:hover{
  background: #a2895fba;
}

.main-header.style-two .header-upper .info-box i{
  color: #a2895fba;
}

.main-header.style-two .header-upper .info-box a:hover{
  color: #a2895fba;
}

.main-header.style-two .main-menu .navigation > li.current > a, 
.main-header.style-two .main-menu .navigation > li:hover > a {
  color: #a2895fba;
}

.banner-carousel .content-box .top-text{
  color: #a2895fba;
}

.banner-carousel .content-box p span{
  color: #a2895fba;
}

.main-header.style-two .header-lower .outer-box .search-btn button:hover{
  color: #a2895fba;
}

.features-style-two .inner-container .single-item .inner-box .icon-box{
  color: #a2895fba;
}

.features-style-two .inner-container .single-item .inner-box h4 a:hover{
  color: #a2895fba;
}

#content_block_6 .content-box .inner-box .left-column .list li:before{
  color: #a2895fba;
}

#content_block_6 .content-box .inner-box .left-column .signature h2{
  color: #a2895fba;
}

.about-style-two .pattern-layer .pattern-2{
  background: #a2895fba;
}

.video-section .video-inner .video-content a{
  background: #a2895fba;
}

.video-section .video-inner .video-content a:hover{
  color: #a2895fba;
}

.video-section .video-inner .phone-box h3 a{
  color: #a2895fba;
}

.pricing-block-one .inner-box .image-box{
  background: #a2895fba;
}

.pricing-block-one .inner-box h4 a:hover{
  color: #a2895fba;
}

.pricing-block-one .inner-box .price{
  color: #a2895fba;
}

.pricing-block-one:hover .inner-box .price{
  background: #a2895fba;
}

.counter-block-one .inner-box .icon-box{
  color: #a2895fba;
}

.counter-block-one .inner-box:hover{
  border-color: #a2895fba;
}

.counter-block-one .inner-box:hover p{
  background: #a2895fba;
}

.testimonial-style-two{
  background: #a2895fba;
}

.shop-block-one .inner-box .image-box .cart-btn{
  background: #a2895fba;
}

.shop-block-one .inner-box .image-box .cart-btn:hover{
  color: #a2895fba;
}

.shop-block-one .inner-box .lower-content h4 a:hover{
  color: #a2895fba;
}

#image_block_1 .image-box .anim-icon .icon-1{
  background: #a2895fba;
}

#content_block_7 .content-box .inner-box .text p{
  color: #a2895fba;
}

#content_block_7 .content-box .inner-box .list li:before{
  background: #a2895fba;
}

#content_block_7 .content-box .theme-btn-one:hover{
  color: #a2895fba !important;
}

.about-style-three #content_block_6 .content-box .inner-box .list li:before{
  color: #a2895fba;
}

.about-style-three #content_block_6 .content-box .inner-box .signature h2{
  color: #a2895fba;
}

.about-style-three #content_block_6 .content-box .text p.color-text{
  color: #a2895fba;
}

#content_block_8 .content-box .text p.color-text{
  color: #a2895fba;
}

.error-section .inner-box p a{
  color: #a2895fba;
}

.service-sidebar .categories-widget .list li a:before{
  background: #a2895fba;
}

.service-sidebar .sidebar-support h3 i{
  color: #a2895fba;
}

.service-sidebar .sidebar-support h3 a:hover{
  color: #a2895fba;
}

.service-sidebar .download-widget .download-content a i{
  color: #a2895fba;
}

.service-sidebar .download-widget .download-content a:hover{
  color: #a2895fba;
}

.service-details-content .two-column .text .list li:before{
  background: #a2895fba;
}

.blog-details-content .inner-box .post-info li a:hover{
  color: #a2895fba;
}

.blog-details-content .inner-box .post-info li i{
  color: #a2895fba;
}

.blog-details-content .inner-box .image-box .post-date{
  background: #a2895fba;
}

.blog-details-content .post-share-option .tags li a:hover{
  color: #a2895fba;
}

.blog-details-content .post-share-option .social-links li a:hover{
  background: #a2895fba;
}

.blog-details-content .comments-area .comment .comment-inner h4 span{
  color: #a2895fba;
}

.blog-details-content .comments-area .comment .comment-inner a{
  background: #a2895fba;
}

.default-form .form-group input:focus,
.default-form .form-group textarea:focus{
  border-color: #a2895fba !important;
}

.blog-sidebar .search-widget .search-form .form-group input:focus{
  border-color: #a2895fba !important;
}

.blog-sidebar .search-widget .search-form .form-group input:focus + button,
.blog-sidebar .search-widget .search-form .form-group button:hover{
  color: #a2895fba;
}

.blog-sidebar .post-widget .post-inner .post .image-box{
  background: #a2895fba;
}

.blog-sidebar .post-widget .post-inner .post .post-date{
  color: #a2895fba;
}

.blog-sidebar .post-widget .post-inner .post h6 a:hover{
  color: #a2895fba;
}

.blog-sidebar .categories-widget .categories-list li a:hover{
  color: #a2895fba;
}

.blog-sidebar .tags-widget .tags-list li a:hover{
  color: #a2895fba;
}

.contact-section .content-box .social-links li a:hover{
  background: #a2895fba;
}

.contact-info-section .single-item .inner-box:hover h4{
  color: #a2895fba;
}

.mobile-menu .menu-backdrop{
  background: #a2895fba;
}